ion-content {
  --ion-background-color:#000000;
}

ion-card {
  margin-bottom: 20px;
  text-shadow: 2px 2px 5px rgb(238, 211, 137);
}

.center {
  display: block;
  margin-left: 50px;
  margin-right: 60px;
  margin-bottom: 20px;
}

ion-card-title {
  color: azure;
  text-shadow: #ce7c11;
}
