ion-content {
  --ion-background-color:#000000;
}

h1 {
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 5px rgb(238, 211, 137);
  font-style: bold;
  font-size: 300%;
}

h3 {
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 5px rgb(238, 211, 137);
  font-style: bold;
  font-size: 180%;
  padding-block-end: 100px;
}
